

<h1>Real Time Products</h1>
    <ul id="product-list">
        {{#each products}}
            <li>{{this.title}} - {{this.description}} - {{this.price}} - {{this.category}}</li>
        {{/each}}
        </ul>
        <form id="product-form">
        <input type="text" name="title" placeholder="Product title">
        <input type="text" name="description" placeholder="Product description">
        <input type="text" name="price" placeholder="Product price">
        <input type="text" name="category" placeholder="Product category">

        {{!-- <input type="text" name="stock" placeholder="Product stock"> --}}

        <button type="submit">Producto creado</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../public/socket/socketClient.js">